<%- include("partials/header") -%>
    <div class="p-3">
        <h3 class="homeText"><%= post.title %></h3>
        <p class="homeText"><%= post.content %></p>
    </div>
<%- include("partials/footer") -%>